{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}

    <div class="container">
        {% for message in get_flashed_messages() %}
        <div class="alert alert-warning">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{ message }}
        </div>
        {% endfor %}

    {% block page_content %}
    <div class="page-header">
        <h1>Hello {% if current_user.is_authenticated %}{{ current_user.username }}{% else %}Stranger{% endif %}</h1>
    </div>
    {% endblock %}
    </div>

{% endblock %}

